# default
#server 0.centos.pool.ntp.org iburst
#server 1.centos.pool.ntp.org iburst
#server 2.centos.pool.ntp.org iburst
#server 3.centos.pool.ntp.org iburst

# tencent ntp
server {{ ntp.tencent }}
server time2.cloud.tencent.com 
server time3.cloud.tencent.com
server time4.cloud.tencent.com
server time5.cloud.tencent.com

# aliyun ntp
# server {{ ntp.aliyun }}

driftfile /var/lib/chrony/drift
makestep 1.0 3
rtcsync
logdir /var/log/chrony
